<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body class="home-template">
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after_all') %>
  </body>
</html>
