/* screen.styl */

@import "normalize.css"

/* Import the font file with the icons in it */
@font-face
  font-family 'icons'
  src url('../fonts/icons.eot')
  src url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons.woff') format('woff'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.svg#icons') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'icomoon'
  src url("../fonts/icomoon.eot?-tyh1oa")
  src url("../fonts/icomoon.eot?#iefix-tyh1oa") format("embedded-opentype"),
      url("../fonts/icomoon.woff?-tyh1oa") format("woff"),
      url("../fonts/icomoon.ttf?-tyh1oa") format("truetype"),
      url("../fonts/icomoon.svg?-tyh1oa#icomoon") format("svg")
  font-weight normal
  font-style normal


/* Apply these base styles to all icons */
.icon-ghost:before
.icon-feed:before
.icon-twitter:before
.icon-google-plus:before
.icon-facebook:before
    font-family 'icons'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    text-decoration none

/* Each icon is created by inserting the corret character into the
 * content of the :before pseudo element. Like a boss. */
.icon-ghost:before
  content "\e000"
.icon-feed:before
  content "\e001"
.icon-twitter:before
  content "\e002"
  font-size 1.1em
.icon-google-plus:before
  content "\e003"
.icon-facebook:before
  content "\e004"

/* General - Setting up some base styles */

body
  font-size 2.0rem
  line-height 1.6em

.clearfix
  overflow

h1, h2, h3, h4, h5, h6
  text-rendering optimizeLegibility
  text-align left
  line-height 1
  margin-top 0
  font-family 'Open Sans', sans-serif
  font-weight bold
  a
    color #50585d

h1
  font-size 3.5rem
  line-height 1.2em
  letter-spacing -2px
  text-indent -3px

h2
  font-size 2.8rem
  line-height 1.2em
  letter-spacing -1px
  text-indent -2px

h3
  font-size 2.4rem

h4
  font-size 2.2rem

h5
  font-size 2.0rem
  font-weight normal

h6
  font-size 1.8rem

p
  text-align justify

a
  color #2773B8
  transition color ease 0.3s
  &:hover
    color #57A3E8

strong
  color red
  font-weight normal

em
  color blue
  font-style normal

p, ul, ol, dl
  margin 1.2em 0

ol ol, ul ul, ul ol, ol ul
  margin 0.4em 0

hr
  display block
  height 1px
  border 0
  border-top 1px solid #efefef
  margin 3.2em 0
  padding 0

blockquote
  -moz-box-sizing border-box
  box-sizing border-box
  margin 1.6em 0 1.6em 0
  padding 0 0 0 1.6em
  border-left #4a4a4a 0.4em solid
  p
    text-align left
    margin 0.8rem 0
    font-style normal
    color green
  small
    display inline-block
    margin 0.8em 0 0.8em 1.5em
    font-size:0.8em
    color #ccc
    &:before
      content '\2014 \00A0'
  cite
    font-weight bold
    a
      font-weight norma

mark
  background-color #ffc336

code, tt
  padding 1px 3px
  font-family Inconsolata, monospace, sans-serif
  font-size 0.85em
  white-space pre-wrap
  border 1px solid #E3EDF3
  background #F7FAFB
  border-radius 2px

pre
  -moz-box-sizing border-box
  box-sizing border-box
  margin 1.6em 0
  border 1px solid #E3EDF3
  width 100%
  padding 10px
  font-family Inconsolata, monospace, sans-serif
  font-size 0.85em
  white-space pre
  overflow auto
  background #F7FAFB
  border-radius 3px
  line-height 1.2em
  overflow-x scroll
  code, tt
    font-size inherit
    white-space -moz-pre-wrap
    white-space pre-wrap
    background transparent
    border none
    padding 0

kbd
  display inline-block
  margin-bottom 0.4em
  padding 1px 8px
  border #ccc 1px solid
  color #666
  text-shadow #fff 0 1px 0
  font-size 0.9em
  font-weight bold
  background #f4f4f4
  border-radius 4px
  box-shadow 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset

table
  -moz-box-sizing border-box
  box-sizing border-box
  margin 1.6em 0
  width 100%
  max-width 100%
  background-color transparent
  th, td
    padding 8px
    line-height 20px
    text-align left
    vertical-align top
    border-top 1px solid #efefef
  th
    color #000
  caption + thead tr:first-child th, caption + thead tr:first-child td,
  colgroup + thead tr:first-child th, colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th, thead:first-child tr:first-child td
    border-top 0
  tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th
    background-color #f6f6f6
  .plain tbody > tr:nth-child(odd) > td, .plain tbody > tr:nth-child(odd) > th
    background transparent


/* General - The main styles for thie theme */

.site-head, .page-head
  margin-bottom 5rem
  color #b9c8e0
  background-color #1d365d
  padding 100px 15px 50px
  p
    text-align left

.blog-title
  color #fff
  font-size 6rem
  font-face bold
  margin-bottom 0

.blog-description
  font-size 1.6rem
  line-height 2rem
  margin-top 0

.page-head .post-title
  color #fff
  font-size 4rem
  font-face bold
  padding-top 18px
  padding-bottom 8px
  margin-bottom 0

/* Every post, on every page */
.post
  clear right
  text-align justify
  position relative
  padding-bottom 4rem
  border-bottom #ebf2f6 1px solid
  word-break break-word
  hyphens auto
  li
    text-align left
  /* Add a little circle in the middle of the border-bottom on our .post
     just for the lolz and stylepoints. */
  &:after
    display block
    content ""
    width 7px
    height 7px
    border #E7EEF2 1px solid
    position absolute
    bottom -5px
    left 50%
    margin-left -5px
    background #fff
    -webkit-border-radius 100%
    -moz-border-radius 100%
    border-radius 100%
    box-shadow #fff 0 0 0 5px
  img
    max-width 700px
    display block
    margin-left auto
    margin-right auto

/* Every post in `archive` page */
.post-archive
  clear right
  text-align left
  position relative
  padding-bottom 2rem
  word-break break-word
  hyphens auto

.post-title a
  text-decoration none

.post-meta
  display inline-block
  font-size 1.6rem
  padding-top 0
  margin-top 0
  margin-bottom 14px
  color #b9c8e0

selection()
  color #222
  background #d6edff
  text-shadow none

-moz-selection
  selection()

selection
  selection()

.widget
  padding-bottom 30px
  border-bottom 1px solid gray
  margin-bottom 30px

.tag-box
  margin 0
  overflow hidden
  &.inline li
    float left
  a
    font-size 0.8em
    padding 2px 6px
    margin 2px
    color #555
    border-radius 5px
    text-decoration none
    border 1px dotted #bbb
    &:hover
      color #fff
      background-color #428bca
    sup
      &:before
        content "("
      &:after
        content ")"

.list-unstyled
  list-style none
  padding-left 0

.archive-ul
  padding-top 50px
  margin-top -50px
  cursor pointer

.listing-item .post-meta
  position relative
  top -15px

/* Theme: Solarized - Github
 * More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
 */
pre .comment,
pre .template_comment,
.diff pre .header,
pre .javadoc
  color #998
  font-style italic


pre .keyword,
.css .rule pre .keyword,
pre .winutils,
.javascript pre .title,
.nginx pre .title,
pre .subst,
pre .request,
pre .status
  color #333
  font-weight bold

pre .number,
pre .hexcolor,
.ruby pre .constant
  color #099

pre .string,
pre .tag pre .value,
pre .phpdoc,
.tex pre .formula
  color #d14

pre .title,
pre .id,
.coffeescript pre .params,
.scss pre .preprocessor
  color #900
  font-weight bold

.javascript pre .title,
.lisp pre .title,
.clojure pre .title,
pre .subst
  font-weight normal

pre .class pre .title,
.haskell pre .type,
.vhdl pre .literal,
.tex pre .command
  color #458
  font-weight bold

pre .tag,
pre .tag pre .title,
pre .rules pre .property,
.django pre .tag pre .keyword
  color #000080
  font-weight normal

pre .attribute,
pre .variable,
.lisp pre .body
  color #008080

pre .regexp
  color #009926

pre .symbol,
.ruby pre .symbol pre .string,
.lisp pre .keyword,
.tex pre .special,
pre .prompt
  color #990073

pre .built_in,
.lisp pre .title,
.clojure pre .built_in
  color #0086b3

pre .preprocessor,
pre .pragma,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata
  color #999
  font-weight bold

pre .deletion
  background #fdd

pre .addition
  background #dfd

.diff pre .change
  background #0086b3

pre .chunk
  color #aaa

#article-nav:after
  clear both

#article-nav-older:after, #article-nav-newer:before
  font-family icomoon

#article-nav-newer
  float left
  text-decoration none
  &:before
    content "\f060"
    vertical-align middle

#article-nav-older
  float right
  text-decoration none
  text-align right
  color #d9534f
  &:after
    content "\f061"
    vertical-align middle

.article-nav-title
  display inline-block
  vertical-align middle
  margin 0
  padding 0
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.share
  padding-bottom 20px
  margin-bottom 20px
  border-bottom 1px solid #ebf2f6

/* Pagination */

#page-nav
  width: 100%
  margin-top 30px
  text-align center
  a
    vertical-align middle
    text-decoration none
  .page-number, .prev, .next
    font-size 90%
    margin-left 5px
    margin-right 5px
  .prev, .next
    white-space nowrap
    font-family icomoon
    vertical-align top
  .prev
    margin-right 20px
    &:before
      content '\f060'
      margin-right 5px
      vertical-align middle
  .next
    margin-left 20px
    color #d9534f
    &:after
      content '\f061'
      margin-left 5px
      vertical-align middle

#comment
  clear both
  padding-top 50px

/* Footer */

.site-footer
  position relative
  margin 8rem 0 0 0
  padding 4rem 0
  border-top #EBF2F6 1px solid
  font-family 'Open Sans', sans-serif
  font-size 1.5rem
  line-height 1.7em
  color #BBC7CC
  text-align center
  background #F7FAFB
  a
    color #bbc7cc
    text-decoration underline
    &:hover
      color #50585d

.poweredby
  .icon-ghost
    font-weight 700
    text-decoration none
  .icon-ghost:hover
    text-decoration none
  .icon-ghost:before
    font-size 1rem
    margin-right 0.2em

/* Override bootstrap classes */
.container
  max-width 750px

.blockquote-reverse
  color gray

.navbar-nav>li>a
  font-size 1.8rem

@media only screen and (max-width: 900px)
  blockquote
    margin-left 0
  .site-head
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    height auto
  .blog-title
    font-size 4rem
    letter-spacing -1px
  .blog-description
    font-size 1.5rem
    line-height 1.3em
  .post
    font-size 0.9em
    line-height 1.6em
    img
      max-width 95%
  .post-template
    .post
      padding-bottom 1rem
    .post-header
      padding 40px 0
  .page-head .post-title
    font-size 4rem
  h1
    text-indent -2px
  blockquote
    font-size 0.9em

@media only screen and (max-width: 500px)
  .blog-logo img
    max-height 80px

  #main-nav
    font-size 0.7em
    margin-right 16px

  #main-nav ul li
    margin-left 10px

  .inner,
  .pagination
    width auto
    margin-left 16px
    margin-right 16px

  .post
    width:auto
    font-size 0.8em
    line-height 1.6em
    img
      max-width 450px

  .site-head

  .blog-title
    font-size 2.5rem

  .blog-description
    font-size 1.0rem

  .page-head .post-title
    font-size 2.5rem

  h1
    font-size 2.5rem
    line-height 1.1em
    letter-spacing -1px

  h2
    font-size 2rem

  h3
    font-size 1.8rem

  h4
    font-size 1.6rem

  h5
    font-size 1.6rem

  blockquote
    font-size 0.8em

  .post-template
    .post
      padding-bottom 0
    .post-header
      padding 30px 0

  .post-meta
    font-size 1.3rem

  .post-footer
    padding 4rem 0
    .author
      margin 0 0 2rem 0
      padding 0 0 1.6rem 0
      border-bottom #EBF2F6 1px dashed
    .share
      position static
      width auto
      a
        margin 1.4rem 0.8rem 0 0.8rem

  .article-nav-title
    max-width 100%

  .older-posts, .newer-posts
    position static
    margin 10px 0

  .extend
    display block

  .page-number
    display inline-block

  .site-footer
    margin-top 6rem
    font-size 1.1rem
