<%- partial('nav')%>
<%- partial('sitehead')%>

<main class="container" role="main">
  <article class="post">
    <header>
      <h1 class="post-title"><%- page.title %></h1>
    </header>
    <section class="post-content">
      <%- page.content %>
    </section>
    <div class="button-box">
      <!-- twitter follow button -->
      <a class="twitter-follow-button" href="https://twitter.com/ntalbs" data-show-count="false">Follow @ntalbs</a>
      <!-- github follow button -->
      <a class="github-button" href="https://github.com/ntalbs" aria-label="Follow @ntalbs on GitHub">Follow @ntalbs</a>
    </div>
  </article>
</main>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
