<header class="site-head jumbotron">
  <div class="vertical">
    <div class="site-head-content inner container">
      <h1 class="blog-title"><%- config.title %></h1>
      <h2 class="blog-subtitle"><%- config.subtitle %></h2>
      <p class="blog-description"><%- config.description %></p>
    </div>
  </div>
</header>
